@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #ff022c, #02ff6b);
    color: rgb(255, 255, 255);
}

main {
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    box-shadow: 5px 5px 15px #003b19ce;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FFD300;
    text-align: center;
    text-shadow: 1px 1px 2px #fc8332;
}

h2 {
    color: #ff6600;
}

p {
    text-align: justify;
}